* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #170F23;
}
.top {
  display: flex;
}


/* -------------------- CSS Navigation ------------------- */
.nav {
  width: 240px;
  height: 100%;
  padding: 16px 0;
  background-color: #231B2E;
  color: rgba(255, 255, 255, 0.603);
  position: fixed;
  z-index: 100;
}
.nav img {
  width: 48%;
  margin-bottom: 20px;
  margin-left: 28px;
}
.nav .nav-item {
  display: flex;
  font-size: 14px;
  padding: 8px 28px;
  margin: 2px 0;
  transition: all 0.5s;
}
.nav .nav-item:hover {
  color: #fff;
  text-shadow: 0 0 2px #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.nav .nav-item:nth-child(3) {
  background-color: #2A213A;
}
.nav hr {
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.301);
  margin: 14px 28px;
}
.nav .nav-item i {
  font-size: 20px;
  margin-right: 16px;
}
.nav .nav-item:nth-child(10) i,
.nav .nav-item:nth-child(11) i {
  font-size: 16px;
}

.nav .nav-item p {
  margin-top: 3px;
  font-weight: 600;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.568);
}


/* -------------------- CSS bar fixed ------------------- */
.top_right {
  width: 100%;
}
.top_fixed {
  width: calc(100% - 240px);
  height: 70px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #170F23;
  position: fixed;
  margin-left: 240px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.315);
  z-index: 100;

}
.top_fixed .top_fixed--left {
  display: flex;
  gap: 24px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.top_fixed .top_fixed--left .back, 
.top_fixed .top_fixed--left .forward {
  color: rgba(255, 255, 255, 0.637);
  font-size: 20px;
  transition: all 0.3s;
}
.top_fixed .top_fixed--left .back:hover, 
.top_fixed .top_fixed--left .forward:hover {
  color: #fff;
  transition: all 0.3s;
}

.top_fixed--left .box {
  width: 500px;
  height: 40px;
  background-color: #2F2739;
  border-radius: 50px;
  padding: 20px 12px;
  display: flex;
  align-items: center;
}
.top_fixed--left .box i {
  color: rgba(255, 255, 255, 0.795);
  font-size: 18px;
  margin-right: 14px;
}


.top_fixed--left .box input {
  border: 0;
  background: none;
  width: 90%;
  outline: none;
  height: 36px;
  color: #fff;
}
.top_fixed--left .box input::placeholder {
  color: rgba(255, 255, 255, 0.575);
  font-size: 14px;
}

.top_fixed .top_fixed--right {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-right: 12px;
}
.top_fixed .top_fixed--right i {
  font-size: 14px;
  border-radius: 50%;
  padding: 12px;
  background-color: #170F23;
  color: rgba(255, 255, 255, 0.637);
  background-color: #2C2537;
  transition: all 0.3s;
}
.top_fixed .top_fixed--right i:hover {
  opacity: 0.9;
  transition: all 0.3s;
}


/* -------------------- CSS Content ------------------- */
.content {
  width: calc(100% - 240px);
  margin-top: 80px;
  margin-left: 240px;
  padding: 10px 40px;
  color: #fff;
}
.content .content-slider {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.content .content-slider img {
  width: 33%;
  border-radius: 10px;
  object-fit: cover;
}
.content .content-genz {
  margin-bottom: 30px;
}
.content .content-genz h2,
.content .content-radio h2,
.content .content-mixtape h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
} 
.content .content-genz .genz-item,
.content .content-mixtape .mix-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.genz-item .itemz .box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.genz-item .itemz .box img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.4s;
}
.genz-item .itemz a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s;
  display: -webkit-box;
  margin-top: 8px;
}
.genz-item .itemz a:hover {
  color: purple;
  transition: all 0.4s;
}
.genz-item .itemz p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.472);
  margin-top: 5px;

}
.genz-item .itemz .more {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s;
}
.itemz .box .more i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 18px;
  transition: all 0.4s;
  border-radius: 50%;
}
.itemz .more i:nth-child(2) {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-left: 2px;
}

.genz-item .itemz .box:hover img{
  opacity: 0.5;
  transform: scale(1.15);
  transition: all 0.4s;
  cursor: pointer;
}
.genz-item .itemz .box:hover .more {
  opacity: 1;
  transition: all 0.4s;
  cursor: pointer;
}
.itemz .box .more i:nth-child(1):hover,
.itemz .box .more i:nth-child(3):hover {
  background-color: rgba(255, 255, 255, 0.418);
  transition: all 0.4s;
}


.content .content-radio {
  margin-bottom: 30px;
}
.content .content-radio .radio-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.radio-item .item .box {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.item .box img {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.4s;
}
.item .box i {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.4s;
  opacity: 0;
  padding-left: 4px;
}
.radio-item .item .box:hover img {
  opacity: 0.5;
  transform: scale(1.15);
  transition: all 0.4s;
  cursor: pointer;
}
.radio-item .item .box:hover i {
  opacity: 1;
}
.item .box i:hover {
  cursor: pointer;
  background-color: #ffffff59;
  transition: all 0.4s;
}

.radio-item .item .item-live {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-8px);
}
.item .item-live h6 {
  text-align: center;
  width: 40px;
  background-color: red;
  border-radius: 3px;
  font-size: 8px;
  font-weight: 200;
  letter-spacing: 3px;
  padding: 3px;
  color: #fff;
  margin-bottom: 12px;
}
.item .item-live a {
  font-weight: 600;
  margin-bottom: 4px;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}
.item .item-live a:hover {
  color: purple;
  transition: all 0.4s;
}
.item .item-live p {
  font-size: 12px;
  color: #ffffff7a;
  font-weight: 200;
}
.content-mixtape {
  margin-bottom: 120px;
}
.itemm .box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.itemm .box:hover img {
  opacity: 0.5;
  transform: scale(1.15);
  cursor: pointer;
}
.itemm .box .more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mix-item .itemm .more {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s;
}
.itemm .box .more i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 18px;
  transition: all 0.4s;
  border-radius: 50%;
}
.itemm .more i:nth-child(2) {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding-left: 2px;
}
.mix-item .itemm .box:hover .more {
  opacity: 1;
  transition: all 0.4s;
  cursor: pointer;
}
.itemm .box .more i:nth-child(1):hover,
.itemm .box .more i:nth-child(3):hover {
  background-color: rgba(255, 255, 255, 0.418);
  transition: all 0.4s;
}
.mix-item .itemm img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 0.4s;
}
.genz-item .itemz a {
  
}

.mix-item .itemm a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s;
  display: -webkit-box;
  margin-top: 8px;
}
.mix-item .itemm a:hover {
  color: purple;
  transition: all 0.4s;
}
.mix-item .itemm p {
  font-size: 15px;
  color: #ffffff7a;
  font-weight: 200;
  margin-top: 5px;
  z-index: -1;
}



/* -------------------- CSS Bottom ------------------- */
.bottom_fixed {
  height: 90px;
  color: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #120C1C;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.bottom_fixed .bot-name {
  margin-left: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.bottom_fixed .bot-name img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.bot-name .text h4 {
  font-size: 16px;
  font-weight: 450;
  margin-bottom: 4px;
}
.bot-name .text p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.308);
  font-weight: 350;
}
.bottom_fixed .bot-name i:nth-child(3) {
  font-size: 14px;
  padding: 8px;
  transition: all 0.4s;
}
.bottom_fixed .bot-name i:nth-child(4) {
  font-size: 14px;
  padding: 8px;
  transition: all 0.4s;
}
.bottom_fixed .bot-name i{
  border-radius: 50%;
}
.bottom_fixed .bot-name i:hover {
  background-color: rgba(255, 255, 255, 0.11);
  cursor: pointer;
  transition: all 0.4s;
}

.bottom_fixed .bot-active {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom_fixed .bot-active .active-top {
  display: flex;
  gap: 16px;
  margin-bottom: 4px;
}
.bot-active .active-top i {
  color: #fff;
  /* font-size: 20px; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-active .active-top i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all 0.4s;
  text-decoration: none;
  font-size: 16px;
}
.bot-active .active-top i:hover {
  background-color: rgba(255, 255, 255, 0.151);
  transition: all 0.4s;
  cursor: pointer;
}

.bot-active .active-top i:nth-child(3) {
  font-size: 16px;
  transition: all 0.4s;
  border: 1px solid #fff;
  padding-left: 2px;
}
.bot-active .active-top i:nth-child(3):hover {
  color: purple;
  background-color: #120C1C;
  transition: all 0.4s;
}
.bottom_fixed .bot-active .active-line {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}
.bot-active .active-line p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.384);
}
.bot-active .active-line .line {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.438);
  width: 400px;
}
.active-line .line .line-process {
  height: 3px;
  width: 7%;
  color: #fff;
  background-color: #fff;
}
.bottom_fixed .bot-sub {
  display: flex;
  gap: 12px;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}
.bot-sub i {
  color: #fff;
  font-size: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bot-sub i:last-child {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.109);
}
.bot-sub i:hover {
  background-color: rgba(255, 255, 255, 0.151);
  transition: all 0.4s;
  cursor: pointer;
}

.bot-sub .line {
  height: 3px;
  width: 70px;
  background-color: #fff;
  margin-left: -10px;
  display: flex;
  position: relative;
}
.bot-sub .line .line-process {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: calc(-50% - 2px);
  right: 0;
}
.bot-sub .col {
  width: 2px;
  height: 20px;
  background-color: #fff;
}